{% extends "base.html" %}
{% block app_content %}
    <table class="table table-hover">
        {% for user in users %}
            <tr>
                <td>
                    <h3>{{ 'User' }}: {{ user.email }}</h3>
                    <p>
                        <a href="{{ url_for('user.edit_user', user_id=user.id) }}">{{ 'Edit User' }}</a>
                        <a href="{{ url_for('user.delete_user', user_id=user.id) }}">{{ 'Delete User' }}</a>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
